.break {
  display: none;
}

.front-header-wrap {
  background: #1f1f1f;
}

.fff-block {
  box-shadow: 0 1.6px 0px 0 rgb(0 0 0 / 7%);
  background: #fff;
}

@keyframes slideFromTop {
  100% {
    opacity: 1;
    transform: translateY(0);
    height: 250px;
  }
}

.front-header-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.title-link {
  outline: 0;
  text-decoration: 0;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.front-header-content .main-nav {
  padding: 0.8rem 0rem;
}

.main-nav {
  display: flex;
  align-items: center;
  color: #f8f8f8;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}
.main-nav > div {
  display: flex;
  align-items: center;
}
.nav-link {
  height: 43px;
  padding: 0 1.5rem;
  border-radius: 2px;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 0.5);
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  text-decoration: none;
}
.burger,
.nav-link {
  color: #c4c4c4;
}

.nav-link + .nav-link {
  margin-left: 0.5rem;
}
.nav-link:not(.active-main-link):hover,
.burger:hover,
.burger-open {
  color: #fff;
  background: rgb(255 255 255 / 6%);
}

.burger {
  position: relative;
  height: 43px;
  width: 66px;
  display: none;
  justify-content: center;
  align-items: center;
}
.burger .burger-content {
  width: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 100%;
  background: #000;

  -webkit-box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 20%),
    0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 20%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

.burger .burger-content > .nav-link:last-child {
  color: #ff4f65;
}

.burger .burger-content .nav-link {
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 47px;
  padding: 0 0.7rem;
}

.active-main-link {
  color: #333;
  background: rgb(255 255 255 / 90%);
}

.main-nav-left {
  flex: 1;
}
.main-nav .active-main-link.svgf svg {
  fill: #333;
}
.main-nav .main-link.svgf:not(.active-main-link) svg {
  fill: #c4c4c4;
}

.nav-link.svgf:not(.active-main-link):hover svg {
  fill: #fff;
}

.main-nav-left-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.main-nav-left h1 {
  font-size: 1.7rem;
  line-height: 1;

  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
  color: #f3f3f3;
  font-family: "Kelly Slab", cursive;
  margin-right: 2rem;
}

.main-nav .nav-link svg {
  margin-right: 0.5rem;
}

.page-header {
  margin-bottom: 2rem;
}
.page-header .title {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-header .title > svg {
  margin-right: 0.5rem;
}

.titleh3 {
  color: #222;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

/* Home */

.home-content p.stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-content section {
  box-shadow: 0 1.6px 0px 0 rgb(0 0 0 / 7%);
  background: #fff;
  padding: 6rem 3rem;
  border-radius: 2px;
  font-size: 1.2rem;
}
.home-flex {
  display: flex;
}
.home-flex > .left {
  flex: 1;
  display: flex;
  justify-content: center;

  align-items: center;
}
.home-flex > .right {
  max-height: 400px;
  display: flex;
  justify-content: center;

  align-items: center;
}
.home-flex > .right img {
  height: 100%;
}
.stack-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.4rem;

  padding: 0 0.2rem;
  border-radius: 3px;
  margin: 0 0.2rem;
  font-weight: 500;
}

.stack-icon:nth-child(1):after,
.stack-icon:nth-child(2):after {
  content: ",";
}
.stack-icon:last-child:after {
  content: ".";
}
.stack-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0.2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.stack-icon.react:before {
  background-image: url("../images/svg/stack/react.svg");
}
.stack-icon.node:before {
  background-image: url("../images/svg/stack/nodedotjs.svg");
}
.stack-icon.mongodb:before {
  background-image: url("../images/svg/stack/mongodb.svg");
}
.stack-icon.express:before {
  background-image: url("../images/svg/stack/express.svg");
}
.home-content > section p {
  max-width: 900px;
}
.home-content > section + section {
  margin-top: 1.5rem;
}
.home-content p + p {
  margin-top: 0.4rem;
}

.wrap {
  min-height: calc(100vh - 120px);
}
.page-content,
#footer,
.front-header {
  max-width: 1400px;
  min-width: 310px;
  margin: 0 auto;
}

.page-content {
  margin: 1.5rem auto 0;
}

#footer {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #717171;

  justify-content: space-around;
  font-size: 1rem;
}
#footer .github-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-top: 0.5rem;
  border-radius: 2px;
}

@media only screen and (max-width: 1400px) {
  .page-padding {
    padding: 0 1em;
  }
}

/*  popup */

/* Popup container - can be anything you want */

.popup {
  position: absolute;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  bottom: calc(100% + 0.1rem);
  width: 200px;
  left: 50%;
  margin-left: -100px;
  z-index: 4;
}
.popup span {
  background: rgb(26, 26, 26);
  border-radius: 2px;
  padding: 0.4rem;
  color: #f8f8f8;
  font-weight: 500;
  opacity: 1;
  font-size: 0.85rem;
}
.popup span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #222 transparent transparent transparent;
}

/* Modal */

.ReactModal__Overlay--after-open {
  z-index: 5;
}
.ReactModal__Overlay--after-open {
  backdrop-filter: blur(1px);
}
body .ReactModal__Overlay--after-open .ReactModal__Content--after-open {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  border-radius: 2px !important;
  margin-right: -50%;
  max-width: 1200px;
  max-height: 90vh;
  transform: translate(-50%, -50%);
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 10%), 0 0.3px 0.9px 0 rgb(0 0 0 / 22%);
}
.modal-title {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-inputs {
  margin: 1rem 0;
}
.modal-title h2 {
  flex: 1;
  font-weight: 500;
  font-size: 1.8rem;
}
.modal-title > button {
  margin-left: 1rem;
}
.modal-info h3 {
  margin-bottom: 0.5rem;
}
.modal-p {
  max-width: 500px;
}
.modal-p + .modal-p {
  margin-top: 1rem;
}

.modal-p > span {
  font-weight: 500;
}

.modal-info h3 span {
  font-weight: 500;
  position: relative;
}
.modal-info h3 span:after {
  content: "";
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: rgb(175, 175, 175);
  position: absolute;
}
.modal-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.modal-actions button + button {
  margin-left: 1rem;
}

/*************************/
.button-link {
  text-decoration: none;
}
.button {
  text-decoration: none;
  padding: 0 0.75rem;
  height: 36px;
  line-height: 36px;
  font-size: 0.9rem;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 0.5);
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Design */
.button:not(.dark, .primary) {
  background: #f9f9f9;
  color: #222;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.button.dark {
  background: #353752;

  color: #d9d9de;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.button.dark.icon:not(.delete) > svg {
  /* icon-only should be white */
  color: #8d99ae;
}

.button.delete,
.date-picker .bottom-actions .remove-date,
.reset-year-picker,
.no-results > h3 > span {
  color: #a91f36;
}
.button.dark.delete {
  color: #ff4f65;
}

.button.primary {
  color: #fff;
  border: 1px solid transparent;
  background: #a91f36;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 23%);
}

/* Focus */
.button:focus {
  outline: 0;
}

/* Hover */
.button:not(.primary, .dark):hover,
.button:not(.primary, .dark):focus {
  border: 1px solid #cacaca;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  color: #111;
}
.button.dark:hover,
.button.dark:focus {
  background: #383a56;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 40%);
  color: #edf2f4;
}
.button.primary:hover,
.button.primary:focus {
  background: #bd253e;
  box-shadow: 0 1px 2px rgb(0 0 0 / 33%);
}

.button:active {
  box-shadow: none !important;
}
.button:not(.primary, .dark):active {
  border: 1px solid #acacac;
  background: #e9e9e9;
}

.button.dark:active {
  background: #27293d;
}
.button.primary:active {
  background: rgb(146, 18, 33);
  box-shadow: 0 1px 2px rgb(0 0 0 / 33%);
}

.button.dark.active {
  background: #1d1f2f;
}

/* Button Icon */

.button.icon,
.button.icon-only {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.button.icon > span {
  margin-right: 0.55rem;
  user-select: none;
  pointer-events: none;
}
.button.icon svg {
  margin-right: 0.55rem;
}

.button.icon-only {
  min-width: 50px;
}
.button.icon-only svg {
  margin: 0;
}

.dropdown-button > p {
  flex: 1;
}
.dropdown-button > svg {
  opacity: 0.8;
  margin-right: 0.2rem;
}

.label {
  font-weight: 500;
  font-size: 0.85rem;
  display: block;
}
.label.icon-label {
  display: flex;
  align-items: center;
}
.label .required {
  margin-left: 0.2rem;
}
.label .required,
.text-field-error {
  color: #ef233c;
  line-height: 1.1;
  font-size: 0.9rem;
  margin-top: 0.4rem;
  font-weight: 500;
}
.text-field-input {
  height: 36px;
  line-height: 36px;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
  display: inline-block;
  font-weight: 400;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 0.5);
  transition-property: box-shadow, color, border, background;
}

.text-field-input.dark::placeholder,
.text-field-input.dark:-ms-input-placeholder,
.text-field-input.dark::-ms-input-placeholder {
  color: #61616e;
}
/* Style */
.text-field-input:not(.dark, .error) {
  background: #ffffff;
  color: #222;
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 0px 0px rgb(0 0 0 / 3%);
}
.text-field-input.dark {
  background: #252638;
  color: #edf2f4;
  border: 1px solid #353752;
  box-shadow: 0 1px 0px 0px rgb(0 0 0 / 11%);
}

.text-field-input.error {
  border: 1px solid #ef233c;
  box-shadow: 0 0px 0px 1px #ef233c;
  background: #252638;
}

/* Hover */

.text-field-input:not(:focus, .error, .dark):hover {
  border: 1px solid rgb(219, 219, 219);
}
.text-field-input.dark:not(:focus):hover {
  border: 1px solid #494b6d;
  box-shadow: 0 1px 2px 0px rgb(0 0 0 / 21%);
}
.text-field-input.error:not(:focus):hover {
  border: 1px solid #ef233c;
  box-shadow: 0 0px 0px 0px #ef233c;
}

/* Focus */
.text-field-input:focus {
  outline: 0;
}
.text-field-input:not(.error, .dark):focus {
  border: 1px solid rgb(219, 219, 219);
}
.text-field-input.dark:not(.error):focus {
  border: 1px solid #6b6f9e;
  background: #202131;
}
.text-field-input.error:focus {
  /* gonna be the same */
}

.text-field-input.textarea {
  height: 58px;
  min-height: 50px;
  line-height: 1.4rem;
  padding: 0.5rem;
  resize: vertical;
  max-height: 200px;
}

/* spinner block */

.spinner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em 0;
}
.spinner-block h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Wine */

/* datePicker */

.date-picker .bottom-actions {
  display: flex;
}
.date-picker .bottom-actions > div {
  width: 50%;
}
.date-picker .bottom-actions > div,
.reset-year-picker {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  background: rgb(245, 245, 245);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.date-picker .bottom-actions > div:hover,
.reset-year-picker:hover {
  background: rgb(241, 241, 241);
  text-decoration: underline;
}

.date-picker > .button {
  min-width: 132px;
}
.date-picker .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: #faf9f8;
  grid-gap: 1px;
}

.date-picker .days > .days-before {
  background: rgb(238, 238, 238);
}
.date-picker .days > div {
  padding: 0.4rem 0;
  text-align: center;
  background: #fff;
}

.date-picker .weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  background: #f5f5f5;
  font-size: 0.8rem;
  color: #1b1b1b;
  font-weight: 500;
}

/* Year picker */
.year-picker,
.date-picker {
  position: relative;
  user-select: none;
  display: inline-block;
}
.date-picker .actions {
  background: rgb(29, 29, 29);
}
.date-picker .actions .year-actions > div:hover,
.date-picker .actions .month-actions > div:hover {
  background: rgb(26, 26, 26);
  color: #fff;
}

.year-actions > div,
.month-actions > div {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a8a8a;
  transition: background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.year-actions,
.month-actions {
  display: flex;
  height: 40px;
  align-items: center;
}
.year-actions > p,
.month-actions > p {
  font-weight: 500;
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(247, 247, 247);
}
.year-picker-content,
.date-picker-content {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);
  width: 260px;
  -webkit-box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 20%),
    0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 20%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  border-radius: 2px;
  overflow: hidden;
  z-index: 2;
}

.year-picker-content .actions {
  display: flex;
  flex-direction: row;
  background: rgb(29, 29, 29);
  color: #f8f8f8;
}
.year-picker-content .actions > div {
  width: 20%;
}

.year-picker-content .actions > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  color: #8a8a8a;
  cursor: pointer;
  height: 40px;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.date-picker .days .selected-date,
.year-picker .active-year {
  background: #ef233c;
  color: #fff;
  text-decoration: underline;
}

.year-picker-content .actions > div:hover {
  background: rgb(26, 26, 26);
  color: #fff;
}

.year-picker-content .years {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #fff;
}
.year-picker-content .years > div {
  padding: 0.4rem;
  text-align: center;

  font-size: 0.9rem;
  font-weight: 500;
}
.date-picker .days > div.day,
.year-picker-content .years > div {
  cursor: pointer;
  transition: background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 0.9rem;
}
.date-picker .days > div.day:not(.selected-date):hover,
.year-picker-content .years > div:not(.active-year):hover {
  background: #f5f5f5;
  text-decoration: underline;
}

/* star rating */
.star-rating-wrap {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.star-rating-wrap .star-value {
  font-weight: 400;
  font-size: 1.1rem;
  margin-left: 1rem;
  padding-top: 0.2rem;
  color: #f8f8f8;
}
.star-rating {
  display: inline-flex;
}

.star-rating .star {
  overflow: hidden;
  width: 18px;
  height: 34px;
}
.star-rating.small .star {
  width: 14px;
  height: 28px;
}

.star-rating:not(.read-only) {
  cursor: pointer;
}

.star-rating .star > svg {
  margin-left: 0;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.star-rating .star:nth-child(even) > svg {
  margin-left: -18px;
}
.star-rating.small .star:nth-child(even) > svg {
  margin-left: -14px;
}

.star-rating:not(.read-only) .star:hover ~ .star:not(.star-active) svg,
.star-rating .star > svg {
  color: rgb(31 32 47);
}

.star-rating:not(.read-only) .star:hover ~ .star.star-active svg {
  color: rgb(254 153 32 / 51%);
}

.star-rating .star.star-active > svg,
.star-rating:not(.read-only):hover .star svg {
  color: #fe9920;
}

/* Wine Score */
.circle-score-wrap {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: inline-block;
  user-select: none;
}

.circle-score-wrap:hover .popup {
  display: flex;
  justify-content: center;
}

.circle-score-content {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-score-center {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-score-wrap.dark {
  width: 38px;
  height: 38px;
}

.circle-score-wrap.dark .circle-score-center {
  width: 32px;
  height: 32px;
}

.circle-score-wrap.dark .circle-score-center {
  background: #2b2d42;
}
.circle-score-wrap.dark .circle-score-value {
  color: #f8f8f8;
}

.circle-score-value {
  font-weight: 500;
  line-height: 1;
  font-size: 0.8rem;
}

/* file */
.file-img-container {
  position: relative;
  padding: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%),
    0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  margin-top: 0.4rem;
  overflow: hidden;
  border-radius: 2px;
}
.file-img-container > span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: rgb(219, 219, 219);
}

.file-img-container .file-img {
  display: block;
  max-height: 250px;
  max-width: 100%;
  margin: 0 auto;
}

.form-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-flex {
  display: flex;
  flex-direction: row;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.form-flex-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.vinmonopolet-form {
  background: #fff;
  box-shadow: 0 1.6px 0px 0 rgb(0 0 0 / 7%);
}
.form-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-block .form-block-title {
  margin-bottom: 1rem;
  display: flex;
}
.form-block .form-block-title h2 {
  font-size: 1.6rem;
}
.form-block .form-block-title h2 {
  color: #222;
}

.vinmonopolet-form.form-block .form-block-title > a,
.vinmonopolet-form.form-block .form-block-title h3 {
  color: #296459;
  font-size: 1.3rem;
}
.form-block .form-block-title > a {
  display: inline-flex;
  flex-direction: row;
  text-decoration: 0;
  align-items: center;
}
.form-block .form-block-title > a:hover * {
  color: #377a6e !important;
  text-decoration: underline;
}

.form-block .form-block-title > a > svg {
  margin-right: 0.2rem;
}

.form-block .form-block-content-wrap {
  display: flex;
  align-items: center;
  flex: 1;
}

.vinmonopolet-form.form-block .form-block-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}
.vinmonopolet-form.form-block .form-block-content .text-field {
  flex: 1;
  margin-right: 0.5rem;
}

.tab-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-user-select: none;
  user-select: none;
}
.tab-panel > .tab {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  color: #8d99ae;
  font-size: 1.1rem;

  background: #1f202d;
}
.tab-panel > .tab:first-child {
  border-top-left-radius: 2px;
}

.tab-panel > .tab:last-child {
  border-top-right-radius: 2px;
}

.tab-panel > .tab:hover {
  color: #fff;
  background: #1d1d29;
}
.tab-panel > .tab.active {
  background: #2b2d42;
  background: linear-gradient(#353752, #2b2d42);
}
.tab-panel > .tab.active p {
  color: #fff;
}

.tab-panel > .tab > .tab-icon {
  margin-right: 0.5rem;
  color: #525682;
}

.tab-panel > .tab.active .tab-icon {
  color: #f8f8f8;
}

.tab-panel .tab-error {
  text-align: center;
  margin-left: 0.4rem;
  border-radius: 2px;
  pointer-events: none;
  font-weight: 500;
  width: 22px;
  height: 22px;
  line-height: 22px;

  color: #cf253d;
  line-height: 22px;
  box-shadow: 0 0 0 2px #ef233c;
}
.form-wine {
  box-shadow: 0 1.6px 0px 0 rgb(0 0 0 / 7%);
}
.form-wine .form-content {
  background: #2b2d42;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.valueLabel-65 {
  color: rgb(247, 247, 247) !important;
}
.slideBox-56:hover .ms-Slider-active,
.slideBox-56:active .ms-Slider-active,
.slideBox-35:hover .ms-Slider-active,
.slideBox-35:active .ms-Slider-active,
.activeSection-60,
.activeSection-67,
.activeSection-46,
.activeSection-39 {
  background-color: #a91f36 !important;
}
.slideBox-56:hover .ms-Slider-thumb,
.slideBox-56:active .ms-Slider-thumb,
.slideBox-35:hover .ms-Slider-thumb {
  border: 2px solid #a91f36 !important;
}
.slideBox-56:hover .ms-Slider-inactive,
.slideBox-56:active .ms-Slider-inactive,
.inactiveSection-61,
.inactiveSection-68,
.slideBox-35:hover .ms-Slider-inactive,
.inactiveSection-47,
.inactiveSection-40 {
  background-color: rgb(29 30 43) !important;
}

.form-wine .form-content .label,
.wine-list-options .label {
  color: #8d99ae;
}

.form-actions {
  grid-column-end: span 2;
}
.form-actions,
.custom-filter-actions {
  margin-top: 3rem;
}
.form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-actions button + button {
  margin-left: 0.5rem;
}

.form-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.form-row {
  max-width: 500px;
}
.form-item + .form-item {
  margin-top: 1rem;
}

.form-item-drink-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-item-drink-between > span {
  margin: 0 0.5rem;
  color: #8d99ae;
}
.form-item-amount-left {
  display: flex;
  flex-direction: column;
}
.form-item-amount-left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.form-input-flag-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-input-flag-wrap .flag-icon {
  display: block;
  width: 35px;
  height: 35px;
}
.form-input-flag-wrap {
  flex: 1;
  margin-right: 0.5rem;
}

.input-file {
  user-select: none;
  pointer-events: none;
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
  position: relative;
  user-select: none;
}

.dropdown .button {
  min-width: 120px;
}
.dropdown-options {
  position: absolute;
  left: 0;
  z-index: 5;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 20%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  top: calc(100% + 5px);
  max-height: 260px;
  overflow-y: auto;

  width: 200px;
  white-space: wrap;
}
.dropdown-options .dropdown-option {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-weight: 400;
  color: #333;
}
.dropdown-options .dropdown-option:hover {
  background: rgb(242, 242, 242);
}
.dropdown-options .dropdown-option.active {
  background: #ef233c;
  color: #f8f8f8;
  font-weight: 500;
}

/* Checkboxes */

.dropdown-options-tf {
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0.4rem;
}
.dropdown-options-tf > div:first-child {
  flex: 1;
}
.dropdown-options-tf .text-field-input {
  height: 28px;
  line-height: 28px;
}
.dropdown-options.checkboxes-options {
  max-height: 260px;
}
.empty-checkboxes {
  margin-left: 0.3rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #a91f36;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}
.empty-checkboxes:hover {
  background: #f7f7f7;
}
.empty-checkboxes > svg {
  margin-right: 0.2rem;
}
.checkboxes-options {
  display: inline-block;

  max-height: 200px;
  overflow-y: auto;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.6rem 1rem;
  line-height: 1rem;
  user-select: none;
}
.checkboxes-options-compact .checkbox {
  padding: 0.4rem 1rem;
}
.checkbox:hover {
  background: rgb(242, 242, 242);
  border-radius: 3px;
  box-shadow: 0 0px 0.5px 1px rgb(0 0 0 / 6%);
}
.checkbox .checkbox-icon {
  position: relative;
  color: transparent;
  font-size: 1rem;
  margin-right: 0.5em;
  height: 16px;
  width: 16px;
  flex: 0 0 16px;

  border-radius: 2px;
  border: 2px solid rgb(224, 224, 224);
  background: rgb(255, 255, 255);
}
.checkbox .checkbox-icon:after {
  position: absolute;
  border-radius: 1px;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  background: rgba(23, 87, 208, 0);
  transition: all 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.checkbox .checkbox-icon.checked:after {
  position: absolute;
  content: "";
  border-radius: 1px;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #ef233c;
}
.checkbox .checkbox-icon.checked {
  border: 2px solid #ef233c;
  background: rgba(23, 88, 208, 0.028);
}
.checkbox .checkbox-title {
  text-transform: capitalize;
  color: #333;
  font-size: 0.9rem;
}

.cpd {
  padding: 3rem;
  border-radius: 2px;
}

.bm {
  font-weight: 500;
}

@media only screen and (max-width: 1400px) {
  .page-content {
    margin: 1.5rem 1.5rem 0;
  }
  .front-header-content .main-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .white-container {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .form-item.form-flex {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .form-item.form-flex > div:last-child {
    grid-column-end: span 2;
  }

  .form-item.form-flex-2 {
    grid-gap: 1rem;
  }

  .nav-link {
    padding: 0 0.6rem;
  }

  .cpd {
    padding: 3rem 2rem;
  }
}
@media only screen and (max-width: 950px) {
  .burger {
    display: flex;
  }

  .main-nav-left-links {
    display: none;
  }

  .main-nav-right > .nav-link {
    display: none;
  }
}
@media only screen and (max-width: 890px) {
  .form-header {
    grid-template-columns: 1fr;
  }

  .page-content {
    margin: 1.5rem 1rem 0;
  }
  .front-header-content .main-nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .tab-panel .tab {
    font-size: 1rem;
  }

  .cpd {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .page-content {
    margin: 1.5rem 0.75rem 0;
  }
  .front-header-content .main-nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .form-section-content {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
  .front-header h1 {
    font-size: 1.4rem;
  }
  .form-item.form-flex {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-item.form-flex > div:last-child {
    grid-column-end: span 1;
  }

  .form.vinmonopolet-form .form-content button {
    margin-top: 1rem;
  }

  .cpd {
    padding: 2rem 1rem;
  }
  .cpd-s {
    padding: 0 1rem;
  }

  #footer {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 670px) {
  .tab-panel .tab > p {
    display: none;
  }
  #footer {
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 640px) {
  .form-block .form-block-title h2 {
    font-size: 1.25rem;
  }

  .break {
    display: block;
    flex-basis: 100%;
    width: 0;
    margin-top: 1rem;
  }
  .break + * {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 540px) {
}
@media only screen and (max-width: 500px) {
  .form-item.form-flex {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .form-item.form-flex > div:last-child {
    grid-column-end: span 2;
  }

  .vinmonopolet-form.form-block .form-block-content {
    display: block;
  }
  .vinmonopolet-form.form-block .form-block-content .text-field {
    margin: 0 0 1rem;
  }
}
@media only screen and (max-width: 418px) {
  .nav-link > svg {
    display: none;
  }

  .form-wine .form-actions {
    flex-direction: column;
    align-items: start;
  }

  .form-wine .form-actions > button + button {
    margin: 0.5rem 0 0;
  }

  .form-item.form-flex,
  .form-item.form-flex-2 {
    display: block;
  }
  .form-item.form-flex > div + div,
  .form-item.form-flex-2 > div + div {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .year-picker-content,
  .date-picker-content {
    width: 220px;
  }
}
